name: Auto Merge Manifest PR Caller

on:
  pull_request:
    types: [labeled]
    branches:
      - develop
      - 'support/*.*.*'
      - 'support/*.*.*.*'

jobs:
  call_auto_pr_workflow:
    uses: rdkcentral/build_tools_workflows/.github/workflows/auto_merge_manifest_pr.yml@develop
    secrets:
      RDKCM_RDKE: ${{ secrets.RDKCM_RDKE }}
